article.search-result.row
  .col-xs-12.col-sm-12.col-md-3
    a.thumbnail(href='#', title='Lorem ipsum')
      img(src='http://lorempixel.com/250/140/food', alt='Lorem ipsum')
  .col-xs-12.col-sm-12.col-md-2
    ul.meta-search
      li
        i.glyphicon.glyphicon-calendar
        span 02/13/2014
      li
        i.glyphicon.glyphicon-time
        span 8:32 pm
      li
        i.glyphicon.glyphicon-tags
        span Food
  .col-xs-12.col-sm-12.col-md-7
    h3
      a(href='#', title='') Voluptatem, exercitationem, suscipit, distinctio
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, exercitationem, suscipit, distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto debitis delectus doloremque.
    span.row
      .col-md-offset-8.col-md-4
        button.btn.btn-primary.btn-sm.btn-block
          span.badge 0
          |  Going!
  span.clearfix.borda
