extends skeleton.pug

block content
  header
    h1 Plans Tonight?
    .index-icons
      span.glyphicon.glyphicon-map-marker
      span.glyphicon.glyphicon-glass
      span.glyphicon.glyphicon-globe
    h4 See which bars are hoppin' tonight and RSVP ahead of time!
  br
  form.row
    .input-group.col-md-offset-3.col-md-6
      input.form-control.input-lg(type="text", placeholder="Search for...")
      span.input-group-btn
        button.btn.btn-lg.btn-default(type="submit")
          span.glyphicon.glyphicon-search
  br
  hgroup.mb20
    h1 Search Results
    h2.lead
      strong.text-danger 3
      |  results were found for the search for
      strong.text-danger  Lorem
  section.col-xs-12.col-sm-6.col-md-12
    article.search-result.row
      .col-xs-12.col-sm-12.col-md-3
        a.thumbnail(href='#', title='Lorem ipsum')
          img(src='http://lorempixel.com/250/140/people', alt='Lorem ipsum')
      .col-xs-12.col-sm-12.col-md-2
        ul.meta-search
          li
            i.glyphicon.glyphicon-calendar
            span 02/15/2014
          li
            i.glyphicon.glyphicon-time
            span 4:28 pm
          li
            i.glyphicon.glyphicon-tags
            span People
      .col-xs-12.col-sm-12.col-md-7.excerpet
        h3
          a(href='#', title='') Voluptatem, exercitationem, suscipit, distinctio
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, exercitationem, suscipit, distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto debitis delectus doloremque.
        span.row
          .col-md-offset-8.col-md-4
            button.btn.btn-primary.btn-sm.btn-block
              span.badge 20
              |  Going!
      span.clearfix.borda
    article.search-result.row
      .col-xs-12.col-sm-12.col-md-3
        a.thumbnail(href='#', title='Lorem ipsum')
          img(src='http://lorempixel.com/250/140/food', alt='Lorem ipsum')
      .col-xs-12.col-sm-12.col-md-2
        ul.meta-search
          li
            i.glyphicon.glyphicon-calendar
            span 02/13/2014
          li
            i.glyphicon.glyphicon-time
            span 8:32 pm
          li
            i.glyphicon.glyphicon-tags
            span Food
      .col-xs-12.col-sm-12.col-md-7
        h3
          a(href='#', title='') Voluptatem, exercitationem, suscipit, distinctio
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, exercitationem, suscipit, distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto debitis delectus doloremque.
        span.row
          .col-md-offset-8.col-md-4
            button.btn.btn-primary.btn-sm.btn-block
              span.badge 0
              |  Going!
      span.clearfix.borda
